.bloc-to-do {
	
}

.liste {
	list-style: none;
	/*text-align: justify;*/
	
}

.blocliste {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkcss {
	margin: 10px;	
}


/*#tabs ul li {
    display:inline-block;
    float:left;
    height:24px;
    min-width:80px;
    text-align:center;
    line-height: 22px;
    padding:0 8px 0 8px;
    margin: 1px 0px 0px 0px;
    border: 1px solid gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;	
    background:#F0F0F0;
}*/